{{#extend 'modules/landing-pages/layouts/default' title="startup-landing" active="startup-landing" path="../" isBanner="false" isSwiperSlider="true"}}
{{#content "content"}}
<div class="banner-two">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h2 class="text-white mb-4">Grow <br>Professionally <br> <span class="text-primary">with the Best</span> </h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Egestas nullam sit velit nulla. Sollicitudin sed tincidunt nulla sodales arcu a.</p>
                <div class="d-flex align-items-center">
                    <a hrer="javascript" class="btn btn-primary">Get Started</a>
                </div>
            </div> 
            <div class="col-lg-6">
                <img src="{{path}}landing-pages/assets/images/home-4/slider-banner.webp" alt="" class="img-fluid ">
            </div>
        </div>
    </div>
</div>
<div class="section-padding page-bg">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-12">
                <p class="mb-3 text-uppercase text-primary">
                   Our trusted Partners
                </p>
                <div class="d-flex align-items-center">
                    <div>
                        <h5 class="text-primary mb-2">100%</h5>
                        <p class="mb-0">Satisfaction</p>
                    </div>
                    <div class="ms-4">
                        <h5 class="text-primary mb-2">15k</h5>
                        <p class="mb-0">Downloads</p>
                    </div>
                    <div class="ms-4">
                        <h5 class="text-primary mb-2">24/7</h5>
                        <p class="mb-0">Support</p>
                    </div>
                </div>
                <a hrer="#" class="btn btn-primary mt-4">Get Started</a>
            </div>
        </div>
    </div>
</div>
<div class="section-padding bg-white">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6">
                <p class="mb-3 text-uppercase text-primary">
                   about us
                </p>
                <h2 class=" mb-4">Get <span class="text-primary">Unique <br>Solutions</span> With Us!</h2>
            </div>
            <div class="col-md-6">
                <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Elementum ac integer semper sit semper laoreet donec. Vitae turpis pretium placerat augue mauris, adipiscing. Risus pretium, amet mi fringilla gravida risus accumsan.</p>
                <a hrer="#" class="btn btn-primary mt-4">Know More</a>            
            </div>
            <div class="col-md-8">
                <img src="{{path}}landing-pages/assets/images/home-4/banner-left.webp" alt="" class="img-fluid ">
            </div>
            <div class="col-md-4">
                <img src="{{path}}landing-pages/assets/images/home-4/banner-right.webp" alt="" class="img-fluid ">
            </div>
        </div>
    </div>
</div>
<div class="section-padding page-bg">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6">
                <p class="mb-3 text-uppercase text-primary">
                  our services
                </p>
                <h2 class=" mb-4">Services <span class="text-primary">We Offer</span></h2>
                <p class="mb-0">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. </p>
                <a hrer="#" class="btn btn-primary mt-4">Know More</a>    
                <img src="{{path}}landing-pages/assets/images/home-4/service.webp" alt="" class="img-fluid mt-4">        
            </div>
            <div class="col-md-6">
                <div class="row  row-cols-1 row-cols-lg-2">
                    <div class="col">
                        <div class="card services-box bg-white rounded-1">
                            <div class="card-body">
                                <h5 class="mb-3">Branding</h5>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                                <a href="#">Read More</a>
                            </div>  
                        </div>
                    </div>
                    <div class="col">
                        <div class="card services-box bg-white rounded-1">
                            <div class="card-body">
                                <h5 class="mb-3">Design</h5>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                                <a href="#">Read More</a>
                            </div>  
                        </div>
                    </div>
                    <div class="col">
                        <div class="card services-box bg-white rounded-1">
                            <div class="card-body">
                                <h5 class="mb-3">Development</h5>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                                <a href="#">Read More</a>
                            </div>  
                        </div>
                    </div>
                    <div class="col">
                        <div class="card services-box bg-white rounded-1">
                            <div class="card-body">
                                <h5 class="mb-3">Marketing</h5>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                                <a href="#">Read More</a>
                            </div>  
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="inner-box">
    <div class="container">
        <div class="row align-items-center text-center">
            <div class="col-lg-3">
                {{> modules/landing-pages/components/widgets/counter couterVlue="3" counterTitle="Best Designer Award" }}
            </div>
            <div class="col-lg-3">
                 {{> modules/landing-pages/components/widgets/counter couterVlue="50+" counterTitle="Loyal Clients" }}
            </div>
            <div class="col-lg-3">
                 {{> modules/landing-pages/components/widgets/counter couterVlue="158+" counterTitle="Nominee Awwwards" }}
            </div>
            <div class="col-lg-3">
                 {{> modules/landing-pages/components/widgets/counter couterVlue="92+" counterTitle="CSS Designs" }}
            </div>
        </div>
    </div>
</div>
<div class="section-padding bg-white">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6">
                <p class="mb-3 text-uppercase text-primary">
                   Why choose us?
                </p>
                <h2 class=" mb-4">We Make <span class="text-primary">Your <br>Idea Come True</span></h2>
                <p class="mb-4">Orci ipsum tempus amet libero turpis enim sed quis. Maecenas suspendisse ac integer orci, suspendisse nulla. Dignissim pretium enim neque facilisi faucibus magna lectus ipsum feugiat.</p>
                <div class="row row-cols-1 row-cols-lg-2">
                    <div class="col mb-4">
                        <div class="d-flex align-items-center">
                            <svg width="24" height="24" class="me-2" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path opacity="0.4" d="M16.3402 1.99976H7.67024C4.28024 1.99976 2.00024 4.37976 2.00024 7.91976V16.0898C2.00024 19.6198 4.28024 21.9998 7.67024 21.9998H16.3402C19.7302 21.9998 22.0002 19.6198 22.0002 16.0898V7.91976C22.0002 4.37976 19.7302 1.99976 16.3402 1.99976Z" fill="#3A57E8"/>
                                <path d="M10.8133 15.248C10.5893 15.248 10.3653 15.163 10.1943 14.992L7.82132 12.619C7.47932 12.277 7.47932 11.723 7.82132 11.382C8.16332 11.04 8.71632 11.039 9.05832 11.381L10.8133 13.136L14.9413 9.00796C15.2833 8.66596 15.8363 8.66596 16.1783 9.00796C16.5203 9.34996 16.5203 9.90396 16.1783 10.246L11.4323 14.992C11.2613 15.163 11.0373 15.248 10.8133 15.248Z" fill="#3A57E8"/>
                            </svg>
                            Easy Communication
                        </div>
                    </div>
                    <div class="col mb-4">
                            <div class="d-flex align-items-center">
                                <svg width="24" class="me-2" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path opacity="0.4" d="M16.3402 1.99976H7.67024C4.28024 1.99976 2.00024 4.37976 2.00024 7.91976V16.0898C2.00024 19.6198 4.28024 21.9998 7.67024 21.9998H16.3402C19.7302 21.9998 22.0002 19.6198 22.0002 16.0898V7.91976C22.0002 4.37976 19.7302 1.99976 16.3402 1.99976Z" fill="#3A57E8"/>
                                    <path d="M10.8133 15.248C10.5893 15.248 10.3653 15.163 10.1943 14.992L7.82132 12.619C7.47932 12.277 7.47932 11.723 7.82132 11.382C8.16332 11.04 8.71632 11.039 9.05832 11.381L10.8133 13.136L14.9413 9.00796C15.2833 8.66596 15.8363 8.66596 16.1783 9.00796C16.5203 9.34996 16.5203 9.90396 16.1783 10.246L11.4323 14.992C11.2613 15.163 11.0373 15.248 10.8133 15.248Z" fill="#3A57E8"/>
                                </svg>
                                Security Assured 
                            </div>
                    </div>
                    <div class="col mb-4">
                        <div class="d-flex align-items-center">
                            <svg width="24" class="me-2" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path opacity="0.4" d="M16.3402 1.99976H7.67024C4.28024 1.99976 2.00024 4.37976 2.00024 7.91976V16.0898C2.00024 19.6198 4.28024 21.9998 7.67024 21.9998H16.3402C19.7302 21.9998 22.0002 19.6198 22.0002 16.0898V7.91976C22.0002 4.37976 19.7302 1.99976 16.3402 1.99976Z" fill="#3A57E8"/>
                                <path d="M10.8133 15.248C10.5893 15.248 10.3653 15.163 10.1943 14.992L7.82132 12.619C7.47932 12.277 7.47932 11.723 7.82132 11.382C8.16332 11.04 8.71632 11.039 9.05832 11.381L10.8133 13.136L14.9413 9.00796C15.2833 8.66596 15.8363 8.66596 16.1783 9.00796C16.5203 9.34996 16.5203 9.90396 16.1783 10.246L11.4323 14.992C11.2613 15.163 11.0373 15.248 10.8133 15.248Z" fill="#3A57E8"/>
                            </svg>
                            Expert Advise
                        </div>
                    </div>
                    <div class="col mb-4">
                        <div class="d-flex align-items-center">
                            <svg width="24" class="me-2"  height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path opacity="0.4" d="M16.3402 1.99976H7.67024C4.28024 1.99976 2.00024 4.37976 2.00024 7.91976V16.0898C2.00024 19.6198 4.28024 21.9998 7.67024 21.9998H16.3402C19.7302 21.9998 22.0002 19.6198 22.0002 16.0898V7.91976C22.0002 4.37976 19.7302 1.99976 16.3402 1.99976Z" fill="#3A57E8"/>
                                <path d="M10.8133 15.248C10.5893 15.248 10.3653 15.163 10.1943 14.992L7.82132 12.619C7.47932 12.277 7.47932 11.723 7.82132 11.382C8.16332 11.04 8.71632 11.039 9.05832 11.381L10.8133 13.136L14.9413 9.00796C15.2833 8.66596 15.8363 8.66596 16.1783 9.00796C16.5203 9.34996 16.5203 9.90396 16.1783 10.246L11.4323 14.992C11.2613 15.163 11.0373 15.248 10.8133 15.248Z" fill="#3A57E8"/>
                            </svg>
                            Pocket Friendly Prices
                        </div>
                    </div>
                </div>
                <a hrer="#" class="btn btn-primary">Know More</a>    
            </div>
            <div class="col-md-6">
                <img src="{{path}}landing-pages/assets/images/home-4/Image-1.webp" alt="" class="img-fluid ">
            </div>
        </div>
    </div>
</div>
<div class="section-padding product-box">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-12 text-center">
                <p class="mb-2 text-uppercase text-primary">
                   Our Projects
                </p>
                <h2 class="text-secondary mb-4">Some Of Our <span class="text-primary">Selected Projects</span></h2>
            </div>
            <div class="overflow-hidden slider-circle-btn mt-5" id="app-slider">
                <ul  class="p-0 m-0 mb-2 swiper-wrapper list-inline">
                    <li class="swiper-slide card-slide card overflow-hidden">
                        <img src="{{path}}landing-pages/assets/images/home-4/01.webp" alt="team-details" class="img-fluid" loading="lazy">
                        <div class="card-body">
                            <h4 class="mb-3">Cubix</h4>
                            <p class="">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vulputate aliquet egestas vestibulum nulla diam tortor aliquet facilisis. </p>
                            <a href="#">Read More</a>
                        </div>
                    </li>
                    <li class="swiper-slide card-slide card overflow-hidden">
                        <img src="{{path}}landing-pages/assets/images/home-4/02.webp" alt="team-details" class="img-fluid" loading="lazy">
                        <div class="card-body">
                            <h4 class="mb-3">Radical Toast</h4>
                            <p class="">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vulputate aliquet egestas vestibulum nulla diam tortor aliquet facilisis. </p>
                            <a href="#">Read More</a>
                        </div>
                    </li>
                    <li class="swiper-slide card-slide card overflow-hidden">
                        <img src="{{path}}landing-pages/assets/images/home-4/03.webp" alt="team-details" class="img-fluid" loading="lazy">
                        <div class="card-body">
                            <h4 class="mb-3">Erbology</h4>
                            <p class="">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vulputate aliquet egestas vestibulum nulla diam tortor aliquet facilisis. </p>
                            <a href="#">Read More</a>
                        </div>
                    </li>
                     <li class="swiper-slide card-slide card overflow-hidden">
                        <img src="{{path}}landing-pages/assets/images/home-4/01.webp" alt="team-details" class="img-fluid" loading="lazy">
                        <div class="card-body">
                            <h4 class="mb-3">Cubix</h4>
                            <p class="">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vulputate aliquet egestas vestibulum nulla diam tortor aliquet facilisis. </p>
                            <a href="#">Read More</a>
                        </div>
                    </li>
                    <li class="swiper-slide card-slide card overflow-hidden">
                        <img src="{{path}}landing-pages/assets/images/home-4/02.webp" alt="team-details" class="img-fluid" loading="lazy">
                        <div class="card-body">
                            <h4 class="mb-3">Radical Toast</h4>
                            <p class="">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vulputate aliquet egestas vestibulum nulla diam tortor aliquet facilisis. </p>
                            <a href="#">Read More</a>
                        </div>
                    </li>
                    <li class="swiper-slide card-slide card overflow-hidden">
                        <img src="{{path}}landing-pages/assets/images/home-4/03.webp" alt="team-details" class="img-fluid" loading="lazy">
                        <div class="card-body">
                            <h4 class="mb-3">Erbology</h4>
                            <p class="">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vulputate aliquet egestas vestibulum nulla diam tortor aliquet facilisis. </p>
                            <a href="#">Read More</a>
                        </div>
                    </li>
                </ul>
                <div class="swiper-button swiper-button-next"></div>
                <div class="swiper-button swiper-button-prev"></div>
            </div>
        </div>
    </div>
</div>
<div class="section-padding">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md-12 text-center">
                <p class="mb-2 text-uppercase text-primary">
                   PRICE PLAN
                </p>
                <h2 class="text-secondary mb-4">Some Of Our <span class="text-primary">Selected Projects</span></h2>
            </div>
        </div>
        <div class="row row-cols-1 row-cols-lg-3">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <p class="mb-2 text-primary">
                            Basic
                        </p>
                        <h4 class="mb-3">$25 <span>/month</span></h4>
                        <p class="border-bottom pb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        <ul class="list-unstyled pt-2">
                            <li class="mb-2"><svg width="10" height="7" class="me-2" viewBox="0 0 10 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M3.81344 6.87296C3.58944 6.87296 3.36544 6.78796 3.19444 6.61696L0.821441 4.24396C0.479441 3.90196 0.479441 3.34797 0.821441 3.00696C1.16344 2.66496 1.71644 2.66396 2.05844 3.00596L3.81344 4.76096L7.94144 0.632965C8.28344 0.290965 8.83644 0.290965 9.17844 0.632965C9.52044 0.974965 9.52044 1.52896 9.17844 1.87096L4.43244 6.61696C4.26144 6.78796 4.03744 6.87296 3.81344 6.87296Z" fill="#1AA053"/>
                                </svg> 10 users included
                            </li>
                            <li class="mb-2"><svg width="10" height="7" class="me-2" viewBox="0 0 10 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M3.81344 6.87296C3.58944 6.87296 3.36544 6.78796 3.19444 6.61696L0.821441 4.24396C0.479441 3.90196 0.479441 3.34797 0.821441 3.00696C1.16344 2.66496 1.71644 2.66396 2.05844 3.00596L3.81344 4.76096L7.94144 0.632965C8.28344 0.290965 8.83644 0.290965 9.17844 0.632965C9.52044 0.974965 9.52044 1.52896 9.17844 1.87096L4.43244 6.61696C4.26144 6.78796 4.03744 6.87296 3.81344 6.87296Z" fill="#1AA053"/>
                                </svg> 2GB of storage
                            </li>
                            <li class="mb-2"><svg width="10" height="7" class="me-2" viewBox="0 0 10 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M3.81344 6.87296C3.58944 6.87296 3.36544 6.78796 3.19444 6.61696L0.821441 4.24396C0.479441 3.90196 0.479441 3.34797 0.821441 3.00696C1.16344 2.66496 1.71644 2.66396 2.05844 3.00596L3.81344 4.76096L7.94144 0.632965C8.28344 0.290965 8.83644 0.290965 9.17844 0.632965C9.52044 0.974965 9.52044 1.52896 9.17844 1.87096L4.43244 6.61696C4.26144 6.78796 4.03744 6.87296 3.81344 6.87296Z" fill="#1AA053"/>
                                </svg> Email support
                            </li>
                        </ul>
                        <a href="#" class="btn btn-primary w-100 mt-4">Get Started</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card bg-primary">
                    <div class="card-body">
                        <p class="mb-2 text-white">
                            Professional
                        </p>
                        <h4 class="mb-3 text-white">$25 <small>/month</small></h4>
                        <p class="border-bottom pb-4 text-white">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        <ul class="list-unstyled pt-2 text-white">
                            <li class="mb-2"><svg width="10" height="7" class="me-2" viewBox="0 0 10 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M3.81344 6.87296C3.58944 6.87296 3.36544 6.78796 3.19444 6.61696L0.821441 4.24396C0.479441 3.90196 0.479441 3.34797 0.821441 3.00696C1.16344 2.66496 1.71644 2.66396 2.05844 3.00596L3.81344 4.76096L7.94144 0.632965C8.28344 0.290965 8.83644 0.290965 9.17844 0.632965C9.52044 0.974965 9.52044 1.52896 9.17844 1.87096L4.43244 6.61696C4.26144 6.78796 4.03744 6.87296 3.81344 6.87296Z" fill="#ffffff"/>
                                </svg> 10 users included
                            </li>
                            <li class="mb-2"><svg width="10" height="7" class="me-2" viewBox="0 0 10 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M3.81344 6.87296C3.58944 6.87296 3.36544 6.78796 3.19444 6.61696L0.821441 4.24396C0.479441 3.90196 0.479441 3.34797 0.821441 3.00696C1.16344 2.66496 1.71644 2.66396 2.05844 3.00596L3.81344 4.76096L7.94144 0.632965C8.28344 0.290965 8.83644 0.290965 9.17844 0.632965C9.52044 0.974965 9.52044 1.52896 9.17844 1.87096L4.43244 6.61696C4.26144 6.78796 4.03744 6.87296 3.81344 6.87296Z" fill="#ffffff"/>
                                </svg> 2GB of storage
                            </li>
                            <li class="mb-2"><svg width="10" height="7" class="me-2" viewBox="0 0 10 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M3.81344 6.87296C3.58944 6.87296 3.36544 6.78796 3.19444 6.61696L0.821441 4.24396C0.479441 3.90196 0.479441 3.34797 0.821441 3.00696C1.16344 2.66496 1.71644 2.66396 2.05844 3.00596L3.81344 4.76096L7.94144 0.632965C8.28344 0.290965 8.83644 0.290965 9.17844 0.632965C9.52044 0.974965 9.52044 1.52896 9.17844 1.87096L4.43244 6.61696C4.26144 6.78796 4.03744 6.87296 3.81344 6.87296Z" fill="#ffffff"/>
                                </svg> Email support
                            </li>
                        </ul>
                        <a href="#" class="btn btn-light w-100 mt-4">Get Started</a>
                    </div>
                </div>
            </div>
             <div class="col">
                <div class="card">
                    <div class="card-body">
                        <p class="mb-2 text-primary">
                            Startup
                        </p>
                        <h4 class="mb-3">$99 <span>/month</span></h4>
                        <p class="border-bottom pb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        <ul class="list-unstyled pt-2">
                            <li class="mb-2"><svg width="10" height="7" class="me-2" viewBox="0 0 10 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M3.81344 6.87296C3.58944 6.87296 3.36544 6.78796 3.19444 6.61696L0.821441 4.24396C0.479441 3.90196 0.479441 3.34797 0.821441 3.00696C1.16344 2.66496 1.71644 2.66396 2.05844 3.00596L3.81344 4.76096L7.94144 0.632965C8.28344 0.290965 8.83644 0.290965 9.17844 0.632965C9.52044 0.974965 9.52044 1.52896 9.17844 1.87096L4.43244 6.61696C4.26144 6.78796 4.03744 6.87296 3.81344 6.87296Z" fill="#1AA053"/>
                                </svg> 10 users included
                            </li>
                            <li class="mb-2"><svg width="10" height="7" class="me-2" viewBox="0 0 10 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M3.81344 6.87296C3.58944 6.87296 3.36544 6.78796 3.19444 6.61696L0.821441 4.24396C0.479441 3.90196 0.479441 3.34797 0.821441 3.00696C1.16344 2.66496 1.71644 2.66396 2.05844 3.00596L3.81344 4.76096L7.94144 0.632965C8.28344 0.290965 8.83644 0.290965 9.17844 0.632965C9.52044 0.974965 9.52044 1.52896 9.17844 1.87096L4.43244 6.61696C4.26144 6.78796 4.03744 6.87296 3.81344 6.87296Z" fill="#1AA053"/>
                                </svg> 2GB of storage
                            </li>
                            <li class="mb-2"><svg width="10" height="7" class="me-2" viewBox="0 0 10 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M3.81344 6.87296C3.58944 6.87296 3.36544 6.78796 3.19444 6.61696L0.821441 4.24396C0.479441 3.90196 0.479441 3.34797 0.821441 3.00696C1.16344 2.66496 1.71644 2.66396 2.05844 3.00596L3.81344 4.76096L7.94144 0.632965C8.28344 0.290965 8.83644 0.290965 9.17844 0.632965C9.52044 0.974965 9.52044 1.52896 9.17844 1.87096L4.43244 6.61696C4.26144 6.78796 4.03744 6.87296 3.81344 6.87296Z" fill="#1AA053"/>
                                </svg> Email support
                            </li>
                        </ul>
                        <a href="#" class="btn btn-primary w-100 mt-4">Get Started</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section-padding page-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-9 ">
                <p class="mb-2 text-uppercase text-primary">
                   Reviews
                </p>
                <h2 class="text-secondary mb-4">What Our <span class="text-primary">Customer’s <br> Are Saying </span> </h2>
            </div>
            <div class="col-md-3">

            </div>
            <div class="overflow-hidden slider-circle-btn mt-5" id="testimonial-slider-two">
                <ul  class="p-0 m-0 mb-2 swiper-wrapper list-inline">
                    <li class="swiper-slide">
                        {{> modules/landing-pages/components/widgets/testimonial-two  testImage="01.jpg" Id="01" testTitle="Eleen Rogers" testText="“Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vitae, eget condimentum luctus nec nec tellus sem sed. Diam elementum tellus.”" }}
                    </li>
                    <li class="swiper-slide">
                        {{> modules/landing-pages/components/widgets/testimonial-two  testImage="02.png" Id="02" testTitle="Eleen Rogers" testText="“Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vitae, eget condimentum luctus nec nec tellus sem sed. Diam elementum tellus.”" }}
                    </li>
                    <li class="swiper-slide">
                        {{> modules/landing-pages/components/widgets/testimonial-two  testImage="01.jpg" Id="01" testTitle="Eleen Rogers" testText="“Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vitae, eget condimentum luctus nec nec tellus sem sed. Diam elementum tellus.”" }}
                    </li>

                </ul>
            <div class="swiper-button swiper-button-next"></div>
            <div class="swiper-button swiper-button-prev"></div>
        </div>
        </div>
    </div>
</div>
<div class="section-padding">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-12 text-center">
                <p class="mb-2 text-uppercase text-primary">
                   Blog
                </p>
                <h2 class="text-secondary mb-4">All the <span class="text-primary">Support you Need</span></h2>
            </div>
            <div class="overflow-hidden slider-circle-btn mt-5" id="app-slider">
                <ul  class="p-0 m-0 mb-2 swiper-wrapper list-inline">
                    <li class="swiper-slide card-slide card overflow-hidden">
                        {{> modules/landing-pages/components/widgets/blog blogImage="home-4/04.png" blogTitle="The Expierience: Travel Tales From India and Abroad." blogText="Travel" Id="1" }}
                    </li>
                    <li class="swiper-slide card-slide card overflow-hidden">
                        {{> modules/landing-pages/components/widgets/blog blogImage="home-4/05.png" blogTitle="The Expierience: Travel Tales From India and Abroad." blogText="Travel" Id="2" }}
                    </li>
                    <li class="swiper-slide card-slide card overflow-hidden">
                        {{> modules/landing-pages/components/widgets/blog blogImage="home-4/06.png" blogTitle="The Expierience: Travel Tales From India and Abroad." blogText="Travel" Id="3" }}
                    </li>
                     <li class="swiper-slide card-slide card overflow-hidden">
                        {{> modules/landing-pages/components/widgets/blog blogImage="home-4/04.png" blogTitle="The Expierience: Travel Tales From India and Abroad." blogText="Travel" Id="4" }}
                    </li>
                    <li class="swiper-slide card-slide card overflow-hidden">
                        {{> modules/landing-pages/components/widgets/blog blogImage="home-4/05.png" blogTitle="The Expierience: Travel Tales From India and Abroad." blogText="Travel" Id="5" }}
                    </li>
                    <li class="swiper-slide card-slide card overflow-hidden">
                        {{> modules/landing-pages/components/widgets/blog blogImage="home-4/06.png" blogTitle="The Expierience: Travel Tales From India and Abroad." blogText="Travel" Id="6" }}
                    </li>
                </ul>
                <div class="swiper-button swiper-button-next"></div>
                <div class="swiper-button swiper-button-prev"></div>
            </div>
        </div>
    </div>
</div>
<div class="section-padding bg-secondary">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <p class="mb-2 text-uppercase text-white">
                   Contact Us
                </p>
                <h2 class="text-white mb-4">Have any query? <br> <span class="text-primary"> Get in Touch.</span></h2>
                <img src="{{path}}landing-pages/assets/images/home-4/contact.webp" alt="{{Id}}" class="img-fluid" loading="lazy">
            </div>
             <div class="col-md-6">
                <div class="form-group">
                    <label for="full-name" class="form-label">Full Name</label>
                    <input type="text" class="form-control" id="full-name" placeholder="Your Name" >
                </div>
                <div class="form-group">
                    <label for="your-email" class="form-label">Your Email</label>
                    <input type="text" class="form-control" id="your-email" placeholder="Your Email" >
                </div>
                <div class="form-group">
                    <label for="your-subject" class="form-label">Your Subject</label>
                    <input type="text" class="form-control" id="your-subject" placeholder="Your Subject" >
                </div>
                {{!-- <div class="form-group">
                    <label for="your-message" class="form-label">Your Message</label>
                    <textarea name="text" rows="10" cols="40"  placeholder="Your Message" >
                </div> --}}
                <div class="form-group mb-3">
                    <label for="your-message" class="form-label">Your Message</label>
                        <textarea name="message" rows="10" class="form-control" >
Your Message
                        </textarea>
                </div>
                <div class="form-check mb-3">
                    <input type="checkbox" class="form-check-input" id="customCheck1">
                    <label class="form-check-label" for="customCheck1">By Clicking You Agree To Use Our “Form” Terms & Condition</label>
                </div>
                <a href="#" class="btn btn-primary">Submit</a>
            </div>
        </div>
    </div>
     
</div>
{{/content}}
{{/extend}}