{{!-- <nav class="navbar navbar-expand-md navbar-dark bg-dark main-nav px-3">
  <div class="container-fluid navbar-inner d-flex justify-between">
    <a href="{{path}}dashboard/index.html" class="navbar-brand d-lg-none d-flex">
      <svg
        class="icon-30 text-primary"
        width="30"
        viewBox="0 0 30 30"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <rect
          x="-0.757324"
          y="19.2427"
          width="28"
          height="4"
          rx="2"
          transform="rotate(-45 -0.757324 19.2427)"
          fill="currentColor"
        ></rect>
        <rect
          x="7.72803"
          y="27.728"
          width="28"
          height="4"
          rx="2"
          transform="rotate(-45 7.72803 27.728)"
          fill="currentColor"
        ></rect>
        <rect
          x="10.5366"
          y="16.3945"
          width="16"
          height="4"
          rx="2"
          transform="rotate(45 10.5366 16.3945)"
          fill="currentColor"
        ></rect>
        <rect
          x="10.5562"
          y="-0.556152"
          width="28"
          height="4"
          rx="2"
          transform="rotate(45 10.5562 -0.556152)"
          fill="currentColor"
        ></rect>
      </svg>
      <h5 class="logo-title ms-3">{{appName}}</h5>
    </a>
    <button class="btn btn-primary d-md-none d-sm-block" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasResponsive" aria-controls="offcanvasResponsive" >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-between" id="offcanvasResponsive">
      <a
        href="{{path}}dashboard/index.html"
        class="navbar-brand d-none d-xl-flex d-lg-flex"
      >
        <svg
          class="icon-30 text-primary"
          width="30"
          viewBox="0 0 30 30"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <rect
            x="-0.757324"
            y="19.2427"
            width="28"
            height="4"
            rx="2"
            transform="rotate(-45 -0.757324 19.2427)"
            fill="currentColor"
          ></rect>
          <rect
            x="7.72803"
            y="27.728"
            width="28"
            height="4"
            rx="2"
            transform="rotate(-45 7.72803 27.728)"
            fill="currentColor"
          ></rect>
          <rect
            x="10.5366"
            y="16.3945"
            width="16"
            height="4"
            rx="2"
            transform="rotate(45 10.5366 16.3945)"
            fill="currentColor"
          ></rect>
          <rect
            x="10.5562"
            y="-0.556152"
            width="28"
            height="4"
            rx="2"
            transform="rotate(45 10.5562 -0.556152)"
            fill="currentColor"
          ></rect>
        </svg>
        <h5 class="logo-title ms-3">{{appName}}</h5>
      </a>

      <ul class="navbar-nav ">
        <li class="nav-item">
          <a class="nav-link menu-arrow justify-content-start" href="#" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="homeData">Home</a>
            <ul class="iq-header-sub-menu list-unstyled collapse" id="homeData">
            <li><a href="index.html">App Landing</a></li>
            <li><a href="ecommerce.html">Ecommerce Landing</a></li>
            <li><a href="sass-landing-page.html">saas Marketing Landing</a></li>
            <li><a href="software-landing-page.html">Software Landing</a></li>
            <li><a href="startup-landing.html">startup Landing</a></li>
            </ul>
      </li>
        <li class="nav-item px-1">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item px-1">
          <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item px-1">
          <a href="#" class="nav-link">Pricing</a>
        </li>
        <li class="nav-item px-1">
          <a class="nav-link" href="#">Blog</a>
        </li>
        <li class="nav-item px-1">
          <a class="nav-link" href="#">Faq</a>
        </li>
        <li class="nav-item px-1">
          <a class="nav-link" href="#">Shop</a>
        </li>
        <li class="nav-item px-1">
          <a href="#" class="nav-link">Contact us</a>
        </li>
        <li class="px-3 d-xl-flex d-none">
      <button class="btn btn-primary" type="button">
        <span class="navbar-toggler-icon"></span>
      </button>

        </li>
      </ul>
    </div>
  </div>
</nav> --}}

<nav class="nav navbar navbar-expand-xl navbar-light iq-navbar">
  <div class="container-fluid navbar-inner">
    <div class="d-flex align-items-center justify-content-between w-100 landing-header">
     
        <a href="{{path}}dashboard/index.html" class="navbar-brand m-0">
            <!--Logo start-->
            <svg class="icon-30 text-primary" width="30" class="text-primary" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect x="-0.757324" y="19.2427" width="28" height="4" rx="2" transform="rotate(-45 -0.757324 19.2427)" fill="currentColor"></rect>
                <rect x="7.72803" y="27.728" width="28" height="4" rx="2" transform="rotate(-45 7.72803 27.728)" fill="currentColor"></rect>
                <rect x="10.5366" y="16.3945" width="16" height="4" rx="2" transform="rotate(45 10.5366 16.3945)" fill="currentColor"></rect>
                <rect x="10.5562" y="-0.556152" width="28" height="4" rx="2" transform="rotate(45 10.5562 -0.556152)" fill="currentColor"></rect>
            </svg>
            <!--logo End--><h5 class="logo-title">Hope UI</h5>
        </a>
          <button data-trigger="navbar_main" class="d-xl-none btn btn-primary rounded-pill p-1 pt-0" type="button">
        <svg width="20px" class="icon-20" viewBox="0 0 24 24">
          <path fill="currentColor" d="M4,11V13H16L10.5,18.5L11.92,19.92L19.84,12L11.92,4.08L10.5,5.5L16,11H4Z"></path>
      </svg>
      </button>
      <!-- Horizontal Menu Start -->
      <nav id="navbar_main" class="mobile-offcanvas nav navbar navbar-expand-xl hover-nav horizontal-nav">
      <div class="container-fluid p-lg-0">
        <div class="offcanvas-header px-0">
            <div class="navbar-brand ms-3">
              {{> partials/components/logo color="true"}}
              <h5 class="logo-title">{{ appName }}</h5>
            </div>
            <button class="btn-close float-end px-3"></button>
        </div>
          <ul class="navbar-nav" id="header-menu">
            <li class="nav-item ">
                <a class="nav-link menu-arrow justify-content-start active" data-bs-toggle="collapse" href="#homeData" role="button" aria-expanded="false" aria-controls="homeData">
                  <svg class="icon-20" width="20" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                      <path d="M9.14373 20.7821V17.7152C9.14372 16.9381 9.77567 16.3067 10.5584 16.3018H13.4326C14.2189 16.3018 14.8563 16.9346 14.8563 17.7152V20.7732C14.8562 21.4473 15.404 21.9951 16.0829 22H18.0438C18.9596 22.0023 19.8388 21.6428 20.4872 21.0007C21.1356 20.3586 21.5 19.4868 21.5 18.5775V9.86585C21.5 9.13139 21.1721 8.43471 20.6046 7.9635L13.943 2.67427C12.7785 1.74912 11.1154 1.77901 9.98539 2.74538L3.46701 7.9635C2.87274 8.42082 2.51755 9.11956 2.5 9.86585V18.5686C2.5 20.4637 4.04738 22 5.95617 22H7.87229C8.19917 22.0023 8.51349 21.8751 8.74547 21.6464C8.97746 21.4178 9.10793 21.1067 9.10792 20.7821H9.14373Z" fill="currentColor"/>
                  </svg>
                  <span class="nav-text ms-2">Home</span>
                </a>
                <ul class="iq-header-sub-menu list-unstyled collapse" id="homeData">
                  <li class="nav-item"><a class="nav-link {{#compare active '==' 'index'}}active{{/compare}}" href="{{path}}dashboard/index.html">Dashboard</a></li>
                  <li class="nav-item"><a class="nav-link {{#compare active '==' 'analytics'}}active{{/compare}}" href="{{path}}dashboard/analytics-dashboard.html">Analytics</a></li>
                  <li class="nav-item"><a class="nav-link {{#compare active '==' 'crypto'}}active{{/compare}}" href="{{path}}dashboard/crypto-dashboard.html">Crypto</a></li>
                
                </ul>
            </li>
            <li class="nav-item"><a class="nav-link {{#compare active '==' 'about'}}active{{/compare}}" href="{{path}}landing-pages/about.html">About Us </a></li>
            <li class="nav-item"><a class="nav-link {{#compare active '==' 'feature'}}active{{/compare}}" href="{{path}}landing-pages/feature.html"> Features </a></li>
            <li class="nav-item"><a class="nav-link {{#compare active '==' 'pricing'}}active{{/compare}}" href="{{path}}landing-pages/pricing.html">Pricing</a></li>
            <li class="nav-item"><a class="nav-link {{#compare active '==' 'blog'}}active{{/compare}}" href="{{path}}landing-pages/blog.html">Blog</a></li>
            <li class="nav-item"><a class="nav-link {{#compare active '==' 'shop'}}active{{/compare}}" href="{{path}}landing-pages/shop.html"> Shop</a></li>
            <li class="nav-item"><a class="nav-link {{#compare active '==' 'faq'}}active{{/compare}}" href="{{path}}landing-pages/faq.html">Faq</a></li>
            <li class="nav-item"><a class="nav-link {{#compare active '==' 'contact-us'}}active{{/compare}}" href="{{path}}landing-pages/contact-us.html">Contact Us</a></li>
        </ul>
      </div> <!-- container-fluid.// -->
      </nav>
<!-- Sidebar Menu End -->
     </div>
  </div>
</nav>